@model Project1.WebApp.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Place Order</h1>

<h4>Add Items to Your Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @foreach (var kvp in Model.Location.Stock) {
                    var name = Html.NameFor(model => model.Products) + "[" + kvp.Key + "]";
                    <label for="@kvp.Key" class="control-label">@ViewData[kvp.Key.ToString()] (@kvp.Value in stock)</label>
                    <input type="number" name="@name" value="@Model.Products[kvp.Key]" id="@kvp.Key" class="form-control" />
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Location">Back to Location Selection</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
