@model IEnumerable<Project1.WebApp.Models.OrderViewModel>

@{
    ViewData["Title"] = "Order History";
}

<h1>Order History</h1>

@if (TempData.ContainsKey("IsAdmin")) {
<div>
    <form asp-action="Index" method="GET">
        <div class="form-group">
            <label for="searchLocation" class="control-label">Location:</label>
            <select class="form-control" id="search" name="searchLocation">
                @if ((int)ViewData["Location"] == 0) {
                    <option value="0" selected>All</option>
                } else {
                    <option value="0">All</option>
                }
                @foreach (var loc in ViewData["Locations"] as List<Project1.Library.Models.Location>) {
                    if ((int)ViewData["Location"] == loc.Id) {
                        <option value="@loc.Id" selected>@loc.Id - @loc.Name</option>
                    } else {
                        <option value="@loc.Id">@loc.Id - @loc.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="searchCustomer" class="control-label">Customer:</label>
            <input type="search" class="form-control" id="search" name="searchCustomer" value="@ViewData["Customer"]" placeholder="Customer Email Address" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                Location
            </th>
            <th>
                Customer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName), @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })

                @if (TempData.ContainsKey("IsAdmin")) {
                    @:| @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @:| @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }

            </td>
        </tr>
    }
    </tbody>
</table>
