@model IEnumerable<Project1.WebApp.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customer List</h1>

<div class="container">
    <form asp-action="Index" method="GET">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="searchFirstName" class="control-label">First Name:</label>
                <input type="search" class="form-control" id="search" name="searchFirstName" value="@ViewData["FirstName"]" placeholder="First Name" />
            </div>
            <div class="form-group col-md-6">
                <label for="searchLastName" class="control-label">Last Name:</label>
                <input type="search" class="form-control" id="search" name="searchLastName" value="@ViewData["LastName"]" placeholder="Last Name" />
            </div>
            
            <div class="form-group col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>

    <p>
        <a class="btn btn-primary" asp-action="Register">Add Customer</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
